@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter-tight: 'Inter Tight', sans-serif;
  --font-inter-sans: 'Inter', sans-serif;
}

@keyframes pulse-glow {
  0%, 100% {
    opacity: 0.15;
    transform: scale(1);
  }
  50% {
    opacity: 0.35;
    transform: scale(1.1);
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Inter Tight, Inter;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

main > section {
  background-color: hsl(var(--primary--foreground));
  color: hsl(var(--primary));
}

p {
  color: hsl(var(--muted-foreground));
  font-family: var(--font-inter-sans), sans-serif;
}
